{% extends 'base.html' %}

{% block buttons %}
    <ul class="buttons">
    <p><div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="{{ url_for('cash_expenses.index') }}" class="btn btn-primary" aria-current="page">Назад</a>
        <a href="{{ url_for('cash_expenses.cash_expense_edit', id=cash_expense_element.id) }}" class="btn btn-success" aria-current="page">Редагувати</a>
        <a href="{{ url_for('cash_expenses.cash_expense_delete', id=cash_expense_element.id) }}" class="btn btn-danger" aria-current="page">Видалити</a>
    </div>
    </ul>
{% endblock buttons %}

{% block content_title %}
{% endblock content_title%}

{% block content %}

{{ super() }}

    {% if cash_expense_element %}
        <h2>
            Розхід з каси ({{cash_expense_element.type}})
        </h2>
        <h4>
            <p><p>№: {{cash_expense_element.id}} від {{cash_expense_element.date}}</p></p>
            <p></p>
            <p>Каса: {{cash_expense_element.cash_desk}}</p>
            <p>Кому: {{cash_expense_element.client}}</p>
            <p>Сума: {{cash_expense_element.sum}}</p>
            <p>Валюта: {{cash_expense_element.currency}}</p>
            <p>Коментар: {{cash_expense_element.description}}</p>
        </h4>
    {% endif %}

<!— flash messages -->
{% if get_flashed_messages() %}
{% for cat, msg in get_flashed_messages(True) %}
    {% if cat == "success" %}
        <div class="flash p-3 mb-2 bg-success text-white">{{msg}}</div>
    {% else %}
        <div class="flash p-3 mb-2 bg-danger text-white">{{msg}}</div>
    {% endif %}
{% endfor %}
{% endif %}

{% endblock content %}

