{% extends 'base.html' %}

{% block buttons %}
    <ul class="buttons">
    <p><div class="btn-group" role="group" aria-label="Basic outlined example">
        <a href="{{ url_for('types_of_moves.index') }}" class="btn btn-primary" aria-current="page">Назад</a>
    </div>
    </ul>
{% endblock buttons %}

{% block content %}

{{ super() }}


    <form action="{{ url_for('.type_of_move_create') }}"  method="post">

    {{ form.csrf_token }}


    <!—Bootstrap стили CSS -->


    <section id="section0">

    <div class="container-fluid">

    <div class="row">

    <!--div class="col-4">
        {{ form.id.label() }}
        <p class="lead">{{ form.id() }}
    </div-->

    </div>

    </div>
    
    </section>



    <section id="section1">

    <div class="container-fluid">

    <div class="row">

    <div class="col-4">
        {{ form.name.label() }}
        <p class="lead">{{ form.name() }}
    </div>

    </div>

    </div>
    
    </section>

    

    <section id="section2">

        <div class="container-fluid">
    
        <div class="row">
    
        <div class="col-4">
            {{ form.debit.label() }}
            <p class="lead">{{ form.debit() }}
        </div>
    
        </div>
    
        </div>
        
        </section>
    
    
    


    
    <div class="row">
        <label for="button" class="form-label"></label>
    </div>

    <p>{{ form.submit() }}

    </form>

<!— flash messages -->
{% if get_flashed_messages() %}
{% for cat, msg in get_flashed_messages(True) %}
    {% if cat == "success" %}
        <div class="flash p-3 mb-2 bg-success text-white">{{msg}}</div>
    {% else %}
        <div class="flash p-3 mb-2 bg-danger text-white">{{msg}}</div>
    {% endif %}
{% endfor %}
{% endif %}

{% endblock content %}
